/* Dashboard */
@import url("dashboard.css");

/* Tarjeta de Catálogo */
@import url("catalogo_card.css");

/* Tarjeta de Almacén */
@import url("almacen_card.css");

/* Bootstrap personalizado */
@import url('custom_bootstrap.css')