{# Plantilla base #}{% extends 'gestion_usuarios/layouts/base.html' %}
{# Cargar assets #}{% load static %}
{# Título de la ventana #} {% block titulo_ventana %}Lista de usuarios{% endblock %}
{# Título de la página #} {% block titulo_pagina %}Lista de usuarios{% endblock %}

{% block contenido %}

<table id="myTable" class="display tabla_1">
    <thead class="color_blanco fondo_negro">
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Correo Electrónico</th>
            <th>Estado</th>
            <th>Roles</th>
            <th>Fecha creación</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="fondo_secundario_variante">
        {% if membresias %}
        {% for membresia in membresias %}
        <tr>
            {# ID #}
            <td>{{membresia.usuario.id}}</td>
            
            {# Avatar + Nombre completo + verificado #}
            <td>
            {% if membresia.usuario.avatar_thumb_small %}
                <img 
                class="avatar_small" 
                src="{{ membresia.usuario.avatar_thumb_small.url|default:'/static/imagenes/default_avatar.png' }}" 
                >
            {% else %}
                <img 
                class="avatar_small" 
                src="{% static 'imagenes/default_avatar.png' %}"
                >
            {% endif %}
                
                <span class="tabla_1__nombre_usuario">
                    {{membresia.usuario.get_full_name|title}}
                </span>
                
            {% if membresia.usuario.is_verified %}
                <span title="Usuario verificado" class="etiqueta_icono">
                    <i class="fa-solid fa-circle-check color_azul"></i>
                </span>
            {% endif %}

            {% if membresia.usuario.is_superuser %}
                <span title="Administrador" class="etiqueta_icono">
                    <i class="fa-solid fa-shield-halved color_primario"></i>
                </span>
            {% endif %}

            {% if membresia.usuario.is_staff %}
                <span title="Staff" class="etiqueta_icono">
                    <i class="fa-solid fa-clipboard-user color_naranjo"></i>
                </span>
            {% endif %}
                
            </td>
            
            
            {# Correo #}
            <td>{{membresia.usuario.email}}</td>

            <td>
            {% if membresia.estado == 'ACTIVO' %}
                <span title="El usuario puede iniciar sesión" class="etiqueta fondo_verde color_blanco">Activo</span>
            {% elif membresia.estado == 'INACTIVO' %}
            <span title="El usuario no puede iniciar sesión" class="etiqueta color_primario">Desactivado</span>
            {% elif membresia.estado == 'FINALIZADO' %}
            <span title="El usuario no puede iniciar sesión" class="etiqueta fondo_negro color_blanco">Finalizado</span>
            {% endif %}
            </td>
            <td>{{usuario.groups}}</td>
            <td>{{usuario.created_at}}</td>
            <td>
                <button class="boton_s boton-menu-acciones fondo_transparente">
                    <i class="fa-solid fa-ellipsis-vertical color_primario"></i>
                </button>
                {% include 'gestion_usuarios/partials/_menu_acciones_usuarios.html' with membresia=membresia %}
            </td>
        </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
    
{% endblock  %}