{# Plantilla base #}{% extends 'gestion_usuarios/layouts/base.html' %}
{# Cargar assets #}{% load static %}
{# Cargar filtros #}{% load age_filters %}{% load humanize %}
{# Título de la ventana #} {% block titulo_ventana %} {{membresia.usuario.get_full_name|title}} {% endblock %}
{# Título de la página #} {% block titulo_pagina %} Información de usuario {% endblock %}

{% block contenido %}

<div class="caja_para_pagina_contenido_arriba">
    <div class="usuarios_ver_usuario__cuadricula panel_base fondo_secundario_variante">




        {# --- SECCIÓN DEL AVATAR MODIFICADA PARA REUTILIZAR EL SCRIPT --- #}
        <section id="avatar-container-admin" 
                 class="usuarios_ver_usuario__avatar position-relative"
                 data-api-url="{% url 'api:ruta_editar_avatar_usuario' id=membresia.usuario.id %}">

            <img class="js-avatar-image" 
                 src="{% if membresia.usuario.avatar %}{{ membresia.usuario.avatar.url }}{% else %}{% static 'imagenes/default_avatar.png' %}{% endif %}" 
                 alt="Avatar de {{ membresia.usuario.get_full_name }}">
            
            {# Solo mostramos el botón de editar si el admin tiene permiso #}
            {% if perms.gestion_usuarios.change_user_personal_info %}
            <span class="js-avatar-upload-button usuarios_ver_usuario__edit_avatar_icon fondo_secundario color_primario fs_grande position-absolute" 
                  style="cursor: pointer;">
                <i class="fa-solid fa-pen-to-square"></i>
            </span>
            <input type="file" class="js-avatar-upload-input" hidden accept="image/*">
            {% endif %}
        </section>




        {# Descripción de usuario #}
        <section class="usuarios_ver_usuario__descripcion">

            {# Nombre completo #}
            <h2 class="fs_x_grande color_primario">{{membresia.usuario.get_full_name|title}}</h2>
            <span class="fs_pequena color_primario_variante">Miembro de la {{membresia.estacion.nombre|title}}</span>


            {# Estado #}
            <div class="descripcion__estados fs_pequena">

                {% if membresia.usuario.is_superuser  %}
                <span class="descripcion__estado fondo_primario color_secundario etiqueta">Administrador</span>
                {% endif %}

                {% if membresia.usuario.is_staff %}
                <span class="descripcion__estado fondo_naranjo color_blanco etiqueta">Staff</span>
                {% endif %}

                {% if membresia.estado == 'ACTIVO' %}
                <span class="descripcion__estado fondo_verde color_blanco etiqueta">Activo</span>
                {% elif membresia.estado == 'INACTIVO' %}
                <span class="descripcion__estado fondo_gris_oscuro color_blanco etiqueta">Inactivo</span>
                {% endif %}

                {% if membresia.usuario.is_verified %}
                <span class="descripcion__estado fondo_azul color_blanco etiqueta">Verificado</span>
                {% endif %}
            </div>


            {# Roles del usuario #}
            <div class="descripcion__roles fs_pequena color_primario">
                Roles:
                {% for rol in membresia.roles.all %}
                <a href="{% url 'gestion_usuarios:ruta_ver_rol' id=rol.id %}" class="descripcion__rol color_azul">{{rol.nombre|title}}</a>
                {% empty %}
                <span class="descripcion__rol color_primario">Ninguno</span>
                {% endfor %}
            </div>

            {# Información adicional (PENDIENTE DE MODIFICAR) #}
            <div class="descripcion__informacion_adicional fs_normal">
                <a class="boton fondo_gris_oscuro color_blanco">Ver Permisos</a>
                <a class="boton fondo_morado color_blanco">Hoja de vida</a>
                <a class="boton fondo_morado color_blanco">Ficha médica</a>
            </div>

        </section>


        {# Acciones #}
        <section class="usuarios_ver_usuario__acciones">
            <a class="boton_flex fondo_azul color_blanco fs_normal" href="{% url 'gestion_usuarios:ruta_editar_usuario' id=membresia.usuario.id %}">Modificar información</a>
            <a class="boton_flex fondo_azul color_blanco fs_normal" href="{% url 'gestion_usuarios:ruta_asignar_roles_usuario' id=membresia.usuario.id %}">Asignar roles</a>
            {% if membresia.estado == 'ACTIVO' %}
            <a class="boton_flex fondo_rojo color_blanco fs_normal" href="{% url 'gestion_usuarios:ruta_desactivar_usuario' id=membresia.usuario.id %}">
                <i class="fa-solid fa-ban"></i>
                Desactivar
            </a>
            {% elif membresia.estado == 'INACTIVO' %}
            <a class="boton_flex fondo_azul color_blanco fs_normal" href="{% url 'gestion_usuarios:ruta_activar_usuario' id=membresia.usuario.id %}">
                <i class="fa-solid fa-circle-up"></i>
                Activar
            </a>
            {% endif %}
            <a class="boton_flex fondo_rojo color_blanco fs_normal" href="">
                <i class="fa-solid fa-flag-checkered"></i>
                Finalizar membresía
            </a>
        </section>


        {# Información del usuario #}
        <section class="usuarios_ver_usuario__informacion">
        <div class="informacion__seccion">

            <div class="informacion__campo fs_normal">
                <span class="informacion__label color_primario_variante">RUT:</span>
                {% if membresia.usuario.rut %}
                <span class="color_primario">{{membresia.usuario.rut}}</span>
                {% else %}
                <span class="color_primario">No especificado</span>
                {% endif %}
            </div>

            <div class="informacion__campo fs_normal">
                <span class="informacion__label color_primario_variante">Correo electrónico:</span>
                {% if membresia.usuario.email %}
                <span class="color_primario">{{membresia.usuario.email}}</span>
                {% else %}
                <span class="color_primario">No especificado</span>
                {% endif %}
            </div>
            
            <div class="informacion__campo fs_normal">
                <span class="informacion__label color_primario_variante">Edad:</span>
                {% if membresia.usuario.birthdate %}
                <span class="color_primario">{{membresia.usuario.birthdate|calculate_age}} años</span>
                {% else %}
                <span class="color_primario">No especificado</span>
                {% endif %}
            </div>
            
            <div class="informacion__campo fs_normal">
                <span class="informacion__label color_primario_variante">Teléfono:</span>
                {% if membresia.usuario.phone %}
                <span class="color_primario">{{membresia.usuario.phone}}</span>
                {% else %}
                <span class="color_primario">No especificado</span>
                {% endif %}
            </div>
        </div>
            
        <div class="informacion__seccion">
            <div class="informacion__campo fs_normal">
                <span class="informacion__label color_primario_variante">Creado:</span>
                <span class="color_primario">{{membresia.usuario.created_at|naturalday}}</span>
            </div>
            
            <div class="informacion__campo fs_normal">
                <span class="informacion__label color_primario_variante">Ingreso a la compañía:</span>
                <span class="color_primario">{{membresia.fecha_inicio|naturalday}}</span>
            </div>

            <div class="informacion__campo fs_normal">
                <span class="informacion__label color_primario_variante">Actualizado:</span>
                <span class="color_primario">{{membresia.usuario.updated_at|naturalday }}</span>
            </div>
        </div>
        </section>

    </div>
</div>


{# Token CSRF, necesario para el script #}
{% csrf_token %} 
{% endblock %}


{# --- BLOQUE DE SCRIPTS MODIFICADO --- #}
{% block scripts %}
    {# 1. Incluimos el script genérico que creamos #}
    <script src="{% static 'js/avatar_uploader.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // 2. Inicializamos el script para el contenedor de esta página
            //    con su ID único 'avatar-container-admin'.
            inicializarCargadorAvatar('avatar-container-admin');
        });
    </script>
{% endblock %}