{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# Importación de Estilos globales #}
    {% include 'layouts/estilos.html' %}
    {# Importación de Estilos de aplicación #}
    <link rel="stylesheet" href="{% static 'portal/css/portal_estilos.css' %}">

    {# Título de la ventana #}
    <title>{% block titulo_ventana %}{% endblock %}</title>

    {# Descripción #}
    <meta name="description" content="Sistema de inventario diseñado para la Segunda Compañía de Bomberos de Iquique">

    {# Fonts Awesome (Iconos) #}
    <script src="https://kit.fontawesome.com/a82eeb5cab.js" crossorigin="anonymous"></script>

</head>
<body class="{% if request.session.dark_mode|default:False %}dark-mode{% endif %}">
    {# Contenedor principal #}
    <div id="portal_root">

        {# Header/Encabezado #}
        {% include "layouts/header.html" %}

        {# Menú desplegable con más opciones de cuenta/usuario. Por defecto está oculto #}
        {% include "layouts/menu_desplegable_usuario.html" %}

        {# Contenido #}
        <main class="main-portal fondo_main">

            {% block contenido %} {% endblock %}
        </main>

        {# Importación de Scripts #}
        {% include 'layouts/scripts.html' %}

    </div>
</body>
</html>