.usuarios_ver_usuario__cuadricula {
    display: grid;
    min-width: 320px;
    max-width: 1100px;
    height: auto;
    grid-template-columns: 250px 550px;
    grid-template-rows: 250px 1fr;
    grid-template-areas:
    "avatar descripcion"
    "acciones informacion"
    ;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    padding: 30px;
}



.usuarios_ver_usuario__avatar {
    grid-area: avatar;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.usuarios_ver_usuario__avatar img {
    height: 100%;
    object-fit: cover;
}

.usuarios_ver_usuario__edit_avatar_icon {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right: 5px;
    bottom: 5px;
}



.usuarios_ver_usuario__descripcion {
    grid-area: descripcion;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 0 30px;
}

.descripcion__estados {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 15px 0;
}

.descripcion__roles {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 50px;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px 0;
}

.descripcion__informacion_adicional {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 15px 0;
}



.usuarios_ver_usuario__acciones {
    grid-area: acciones;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}



.usuarios_ver_usuario__informacion {
    grid-area: informacion;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: start;
    padding: 0 30px;
    gap: 10px;
}

.informacion__seccion {
    grid-area: informacion;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    margin-top: 20px;
}

.informacion__campo {
    display: flex;
    padding: 5px 0;
    height: auto;
}

.informacion__label {
    width: 180px;
}