{# PLANTILLA PARA IMPORTAR ASSETS #}
{% load static %}

{# Bootstrap CSS #}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

{# Estilos globales #}
<link rel="stylesheet" href="{% static 'css/estilos_globales.css' %}">

{# Icono del sitio #}
<link rel="shortcut icon" href="{% static 'imagenes/bomberil_logo_circle_60x60.ico' %}" type="image/x-icon">

{# Fonts Awesome (Iconos) #}
<script src="https://kit.fontawesome.com/a82eeb5cab.js" crossorigin="anonymous"></script>