<div class="menu-acciones-usuarios">

    {# Ver usuario #}
    {% if perms.gestion_usuarios.accion_gestion_usuarios_ver_compania %}
    <a class="menu-acciones-usuarios__accion acciones-usuarios-ver color_negro" 
       href="{% url 'gestion_usuarios:ruta_ver_usuario' id=membresia.usuario.id %}">
        <i class="fa-solid fa-eye"></i> Ver
    </a>
    {% endif %}

    {# Modificar información personal de usuario #}
    {% if perms.gestion_usuarios.accion_gestion_usuarios_modificar_info %}
    <a class="menu-acciones-usuarios__accion acciones-usuarios-editar color_negro"
       href="{% url 'gestion_usuarios:ruta_editar_usuario' id=membresia.usuario.id %}">
        <i class="fa-solid fa-pen-to-square"></i> Modificar información
    </a>
    {% endif %}

    {# Asignar roles al usuario #}
    {% if perms.gestion_usuarios.accion_gestion_usuarios_asignar_roles %}
    <a class="menu-acciones-usuarios__accion acciones-usuarios-editar color_negro"
       href="{% url 'gestion_usuarios:ruta_asignar_roles_usuario' id=membresia.usuario.id %}">
        <i class="fa-solid fa-group-arrows-rotate"></i> Asignar roles
    </a>
    {% endif %}

    {# Ver permisos del usuario #}
    {% if perms.gestion_usuarios.accion_gestion_usuarios_ver_permisos %}
    <a class="menu-acciones-usuarios__accion color_negro" 
       href="{% url 'gestion_usuarios:ruta_ver_permisos_usuario' id=membresia.usuario.id %}">
        <i class="fa-solid fa-shield-halved"></i> Ver Permisos
    </a>
    {% endif %}
    
    {# Restablecer Contraseña #}
    {% if perms.gestion_usuarios.accion_gestion_usuarios_restablecer_pass and membresia.estado != 'FINALIZADO' %}
    <button type="button" 
            class="menu-acciones-usuarios__accion js-reset-password-btn fondo_transparente"
            data-bs-toggle="modal" 
            data-bs-target="#confirmResetModal"
            data-user-name="{{ membresia.usuario.get_full_name|title|escapejs }}"
            data-form-action="{% url 'gestion_usuarios:ruta_restablecer_contrasena' id=membresia.usuario.id %}">
        <i class="fa-solid fa-key"></i> Restablecer Contraseña
    </button>
    {% endif %}

    {# Forzar cierre de sesiones del usuario #}
    {% if perms.gestion_usuarios.accion_gestion_usuarios_forzar_logout %} {# Usamos el mismo permiso que definimos en la vista #}
        <button type="button"  
           class="menu-acciones-usuarios__accion fs_normal boton-forzar-logout fondo_transparente"
           data-bs-toggle="modal" 
           data-bs-target="#ModalForzarLogout"
           data-form-action="{% url 'gestion_usuarios:ruta_forzar_logout' id=membresia.usuario.id %}">
            <i class="fas fa-power-off me-2 text-warning"></i> Forzar Cierre de Sesión
        </button>
    {% endif %}

    {# Desactivar usuario #}
    {% if perms.gestion_usuarios.accion_gestion_usuarios_desactivar_cuenta and membresia.estado == 'ACTIVO' %}
    <button type="button" 
            class="menu-acciones-usuarios__accion boton-desactivar-usuario fondo_transparente color_rojo"
            data-form-action="{% url 'gestion_usuarios:ruta_desactivar_usuario' id=membresia.usuario.id %}">
        <i class="fa-solid fa-ban"></i> Desactivar
    </button>
    {% endif %}
    
    {# Activar usuario #}
    {% if perms.gestion_usuarios.accion_gestion_usuarios_desactivar_cuenta and membresia.estado == 'INACTIVO' %}
    <button type="button" 
            class="menu-acciones-usuarios__accion boton-activar-usuario fondo_transparente color_negro"
            data-form-action="{% url 'gestion_usuarios:ruta_activar_usuario' id=membresia.usuario.id %}">
        <i class="fa-solid fa-circle-up"></i> Activar
    </button>
    {% endif %}

    {# Finalizar membresía #}
    {% if perms.gestion_usuarios.accion_gestion_usuarios_finalizar_membresia %}
    <a class="menu-acciones-usuarios__accion acciones-usuarios-finalizar color_rojo" href="{% url 'gestion_usuarios:ruta_finalizar_membresia' id=membresia.usuario.id %}">
        <i class="fa-solid fa-flag-checkered"></i> Finalizar Membresía
    </a>
    {% endif %}
</div>