<div class="menu-acciones-usuarios">

    {# Ver rol #}
    <a 
    class="menu-acciones-usuarios__accion acciones-usuarios-ver color_negro" 
    href="{% url 'gestion_usuarios:ruta_ver_rol' id=rol.id %}"
    >
        <i class="fa-solid fa-eye"></i> 
        Ver
    </a>

    {# Modificar rol #}
    {% if rol.estacion %}
    <a 
    class="menu-acciones-usuarios__accion acciones-usuarios-editar color_negro" 
    href="{% url 'gestion_usuarios:ruta_editar_rol' id=rol.id %}"
    >
        <i class="fa-solid fa-pen-to-square"></i> 
        Modificar
    </a>
    {% endif %}

    {# Asignar permisos #}
    {% if rol.estacion %}
    <a 
    class="menu-acciones-usuarios__accion acciones-usuarios-editar color_negro" 
    href="{% url 'gestion_usuarios:ruta_asignar_permisos' id=rol.id %}"
    >
        <i class="fa-solid fa-file-pen"></i>
        Asignar permisos
    </a>
    {% endif %}

</div>