{# MODAL CONFIRMACIÓN RESTABLECER CONTRASEÑA #}
<div class="modal fade" id="confirmResetModal" tabindex="-1" aria-labelledby="confirmResetModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs_grande" id="confirmResetModalLabel">Confirmar Acción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fs_normal">
                <p>Estás a punto de iniciar un restablecimiento de contraseña para el usuario <strong id="modalUserName"></strong>.</p>
                <p>Se le enviará un correo electrónico con un enlace para que pueda establecer una nueva contraseña. ¿Deseas continuar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fs_normal" data-bs-dismiss="modal">Cancelar</button>
                
                <button type="button" class="btn btn-warning fs_normal color_blanco" id="modalConfirmResetBtn">Sí, Enviar Correo</button>
            </div>
        </div>
    </div>
</div>