/* ---------- CONFIGURACIÓN BASE ---------- */

/* Establecer estilos base */
@import url("base/reset.css");

/* Variables root */
@import url("base/variables.css");



/* Colores */
@import url("base/colores.css");

/* Propiedades de texto */
@import url("base/texto.css");

/* Fuentes */
@import url("base/fuentes.css");

/* Root (Componente principal para renderizar todo) */
@import url("base/root.css");

/* Tema oscuro */
@import url("modo_oscuro.css");



/* ---------- ESTILOS PARA LOS COMPONENTES DEL LAYOUT ---------- */

/* Header */
@import url("componentes/header.css");

/* Barra lateral de navegación */
@import url("componentes/navbar.css");

/* Componentes Main */
@import url("componentes/main.css");

/* Menú desplegable de usuario */
@import url("componentes/menu_desplegable_usuario.css");



/* ---------- ESTILOS COMPONENTES ---------- */

/* Paneles de información */
@import url("componentes/paneles.css");

/* Botones */
@import url("componentes/botones.css");

/* Tablas */
@import url("componentes/tablas.css");

/* Formularios */
@import url("componentes/formularios.css");

/* Alertas Flash */
@import url("componentes/alertas_flash.css");

/* Menú de acciones */
@import url("componentes/menu_acciones.css");



/* ---------- ESTILOS EXTRA ---------- */

/* Utilidades */
@import url("utilidades.css");