/* Clase para resaltar el color de un elemento. Útil para botones*/
.hover_color:hover {
    filter: brightness(1.2);
}

/* Clase para escalar un elemento. Útil para botones */
.hover_scale {
    transition: all 30ms ease;
}
.hover_scale:hover {
    transform: scale(1.1);
}

/* rotar elemento 180 grados */
.rotate180 {
    transform: rotate(180deg);
}

/* Para avatar de usuario en tablas */
.avatar_small {
    width: 25px;
    border-radius: 50%;
}

.avatar_medium {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.etiqueta {
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 5px;
}

.etiqueta_icono {
    padding: 5px;
}

.subrayado {
    border-bottom: 1px solid var(--color-primary-variant);
}

.caja_flex_column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hidden {
    display: none;
}