<nav id="barra_lateral" class="barra_lateral fondo_barra_lateral">
    {# Botón para cerrar el menú en diseño móvil (una X) #}
    {% include 'layouts/boton_cerrar_sidebar.html' %}

    {# Sección #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="{% url 'gestion_mantenimiento:ruta_lista_planes' %}" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario scale">
                <i class="fa-solid fa-clipboard-list"></i>
                <span>Planes de mantenimiento</span>
            </a>
        </div>
    </section>


</nav>