<nav id="barra_lateral" class="barra_lateral fondo_barra_lateral">
    {# Botón para cerrar el menú en diseño móvil (una X) #}
    {% include 'layouts/boton_cerrar_sidebar.html' %}


    {# Sección #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario scale">
                <i class="fa-solid fa-user"></i>
                <span>Usuarios</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_pequena fs_nav_opcion" href="{% url 'gestion_usuarios:ruta_lista_usuarios' %}">
                    <i class="fa-solid fa-clipboard-list color_naranjo_claro"></i>
                    Lista de usuarios
                </a>
            </li>
            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_pequena fs_nav_opcion" href="{% url 'gestion_usuarios:ruta_agregar_usuario' %}">
                    <i class="fa-solid fa-user-plus color_verde"></i>
                    Agregar usuario
                </a>
            </li>
        </ul>
    </section>


    {# Sección #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario scale">
                <i class="fa-solid fa-people-group"></i>
                <span>Roles y permisos</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_pequena fs_nav_opcion" href="{% url 'gestion_usuarios:ruta_lista_roles' %}">
                    <i class="fa-solid fa-clipboard-list color_naranjo_claro"></i>
                    Lista de roles
                </a>
            </li>
        </ul>
    </section>


</nav>