<div id="ModalActivarUsuario" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content fondo_secundario fs_normal color_primario">

            <div class="modal-header">
                <h5 class="modal-title">Confirmar Activación</h5>
                <button type="button" class="btn-close color_primario" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>¿Estás seguro de que deseas activar a este usuario?. Si lo activas, podrá iniciar sesión en el sistema de la compañía</p>
            </div>

            <div class="modal-footer">
                <form id="formActivarUsuario" method="post" action="">
                    {% csrf_token %}
                    <div class="acciones_modal">
                        <button 
                        id="cancelarModal" 
                        type="button" 
                        class="boton_s color_primario fondo_transparente" 
                        data-bs-dismiss="modal"
                        >
                        Cancelar
                        </button>

                        <button 
                        id="confirmarActivacion" 
                        type="submit" 
                        class="boton_s fondo_azul color_blanco"
                        >
                        Sí, Activar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>