{% load static %}

{# Partial para mostrar una tarjeta de vehículo en el slider #}
<div class="vehiculo-card fondo_secundario_variante slider-item">
    <div class="almacen-card__imagen-contenedor">
        {% if ubicacion.imagen_thumb_medium %}
            <img src="{{ ubicacion.imagen_thumb_medium.url }}" alt="Imagen de {{ ubicacion.nombre }}" class="almacen-card__imagen">
        {% else %}
            <img src="{% static 'gestion_inventario/imagenes/default_vehiculo.png' %}" alt="Imagen por defecto" class="almacen-card__imagen almacen-card__imagen--default">
        {% endif %}
        <span class="almacen-card__nombre text-lg font-bold">{{ ubicacion.nombre|title }}</span>
    </div>
    <div class="almacen-card__info">
        <ul class="almacen-card__lista">
            {# Ícono de camión #}
            <li class="almacen-card__item">
                <i class="fas fa-truck almacen-card__icono color_primario_variante"></i> 
                <span class="color_primario_variante text-xs">
                    {% if ubicacion.detalles_vehiculo and ubicacion.detalles_vehiculo.tipo_vehiculo %}
                        {{ ubicacion.detalles_vehiculo.tipo_vehiculo.nombre }}
                    {% else %}
                        Tipo no especificado
                    {% endif %}
                </span>
            </li>
             <li class="almacen-card__item">
                <i class="fas fa-hashtag almacen-card__icono color_primario_variante"></i>
                <span class="color_primario_variante text-xs text-data-code">
                    {% if ubicacion.detalles_vehiculo and ubicacion.detalles_vehiculo.patente %}
                        {{ ubicacion.detalles_vehiculo.patente }}
                    {% else %}
                        Patente N/A
                    {% endif %}
                </span>
            </li>
            <li class="almacen-card__item">
                <i class="fas fa-boxes almacen-card__icono color_primario_variante"></i>
                <span class="color_primario_variante text-xs">{{ ubicacion.total_compartimentos }} Compartimento{{ ubicacion.total_compartimentos|pluralize }}</span>
            </li>
            <li class="almacen-card__item">
                <i class="fas fa-archive almacen-card__icono color_primario_variante"></i>
                <span class="color_primario_variante text-xs">{{ ubicacion.total_existencias }} Existencia{{ ubicacion.total_existencias|pluralize }}</span>
            </li>
        </ul>
        
        {# PERMISO: Ver Ubicaciones #}
        {% if perms.gestion_usuarios.accion_gestion_inventario_ver_ubicaciones %}
        <a href="{% url 'gestion_inventario:ruta_gestionar_ubicacion' ubicacion.id %}" class="almacen-card__boton fondo_azul color_blanco text-base"> 
            Gestionar Vehículo
        </a>
        {% endif %}
    </div>
</div>