{% extends 'gestion_medica/layouts/base.html' %}
{% load static %}

{% block titulo_ventana %}Catálogo de Medicamentos{% endblock %}
{% block titulo_pagina %}Gestión de Medicamentos{% endblock %}

{% block contenido %}
<div class="container-fluid">
    
    <div class="d-flex justify-content-end mb-4">
        <a href="{% url 'gestion_medica:ruta_crear_medicamento' %}" class="btn btn-primary-custom shadow-sm">
            <i class="fa-solid fa-plus me-2"></i>Nuevo Medicamento
        </a>
    </div>

    <div class="tabla-contenedor">
        <div class="table-responsive">
            <table class="table table-custom">
                <thead>
                    <tr>
                        <th>Nombre del Medicamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                    <tr>
                        <td class="fw-bold text-dark">{{ item.nombre }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="text-center py-5 text-muted">
                            <i class="fa-solid fa-pills fs-1 mb-3 d-block opacity-50"></i>
                            No hay medicamentos registrados.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}