.portal_login__container {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 500px;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    z-index: var(--panel-z-index);
    margin-bottom: 150px;
    gap: 10px;
}

.portal_login__formulario {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 15px;
}

.portal_login__enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
}