/* Botón que ocupa el máximo espacio horizontal */
.boton_flex {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
}

.input_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    gap: 8px;
}
.input_box input {
    height: 45px;
    padding: 0 10px;
}