.impersonacion_banner {
    position: relative;
    width: 100%;
}



.header {
    grid-area: header;

    position: sticky;
    top: 0;
    z-index: var(--header-z-index);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-bottom: 1.5px solid var(--color-header-border);
}

.header__secciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    width: 100%;
    padding: 0 15px;
}


/* Header: Sección izquierda */
.header__seccion_compania {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: auto;
    max-width: 500px;
    height: 100%;
    gap: 12px;
}

.header__logo {
    width: 50px;
    min-width: 40px;
    max-width: 50px;
    border-radius: 50%;
}

.header__titulo {
    display: flex;
    flex-direction: column;
}

.header__compania {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: end;

    font-family: var(--font-brand);
    font-weight: 300;
}

.header__modulo {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}



/* Header: Sección derecha */
.header__seccion_menu_usuario {
    display: flex;
    flex-direction: row;
    width: auto;
    max-width: 500px;
    height: 100%;
    align-items: center;
    gap: 15px;
}

.menu_usuario__opciones {
    display: flex;
    flex-direction: row;
    height: 70%;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 5px;
    border-right: 1px solid var(--color-header-border);
}

.menu_usuario__opcion {
    display: flex;
    width: auto;
    height: 100%;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
}

.menu_usuario__usuario {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 5px;
}

.menu_usuario__nombre_usuario {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.menu_usuario__nombre_email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 5px;
}
/*.menu_usuario__nombre {
}
.menu_usuario__email {
}*/
.menu_usuario__flecha {
    padding: 5px;
}

.menu_usuario__avatar_usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
}

.menu_usuario__avatar_usuario img {
    width: var(--user-avatar-width);
    height: var(--user-avatar-width);
    border-radius: 100%;
    object-fit: cover;
}

/* Ícono de menú hamburguesa para desplegar la barra lateral de navegación en vista móvil */
.header__boton_barra_lateral {
    display: none;
}






/*-------------------*/
/* DISEÑO RESPONSIVO */
/*-------------------*/

/* Tablets grandes - Laptops pequeñas */
@media (max-width: 1100px) {
    .header {
        padding: 0;
    }

    /* Ícono de menú hamburguesa para desplegar la barra lateral de navegación en vista móvil */
    .header__boton_barra_lateral {
        display: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        border-right: 1px solid var(--color-header-border);
    }

    /* Header: Sección derecha */
    .header__seccion_menu_usuario {
        padding: 30px;
    }

}

/* Tablets grandes - medianas */
@media (max-width: 900px) {
    .menu_usuario__nombre_email {
        display: none;
    }
}

/* Tablets pequeñas - Teléfonos grandes */
@media (max-width: 600px) {
    .header__compania {
        display: none;
    }

    .header__seccion_menu_usuario {
        padding: 0 15px;
    }

    .header__boton_barra_lateral {
        padding: 0 20px;
    }
}

/* Teléfonos grandes - medianos */
@media (max-width: 500px) {
    .header__seccion_menu_usuario {
        padding: 0 10px;
    }

    .menu_usuario__usuario {
        gap: 5px;
    }
}

/* Teléfonos medianos - pequeños */
@media (max-width: 370px) {
    .header__logo {
        display: none;
    }

    /* Ícono de menú hamburguesa para desplegar la barra lateral de navegación en vista móvil */
    .header__boton_barra_lateral {
        padding: 0 20px;
    }
}