.menu-acciones-usuarios {
    position: absolute;
    display: none;
    right: 0;
    left: auto;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: auto;
    min-width: 150px;
    width: 250px;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
}

.menu-acciones-usuarios__accion {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    border-bottom: 1px solid rgb(183, 183, 183);
    text-decoration: none;
    gap: 10px;
}

.menu-acciones-usuarios.visible {
    display: flex;

}