/* Nav: Barra lateral de navegación principal */
.barra_lateral {
    grid-area: sidebar;
    position: fixed;
    top: var(--header-height);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--navbar-width);
    overflow: hidden;
    border-right: 1.5px solid var(--color-sidebar-border);
    z-index: var(--navbar-z-index);
    transition: width 100ms ease;
}

/* Secciones de navegación: incluye módulo y funciones */
.barra_lateral__seccion {
    width: 100%;
    height: var(--navbar-section-height);
    transition: height 0.7s;
    overflow: hidden;
    border-bottom: 1px solid var(--color-sidebar-border);
}

.barra_lateral__modulo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--navbar-section-height);
    align-items: center;
    justify-content: space-between;
}

.barra_lateral__modulo_nombre {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    padding: 10px;
}
.barra_lateral__modulo_nombre span {
    display: flex;
    width: auto;
    height: auto;
}
.barra_lateral__modulo_nombre i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
}

.barra_lateral__flecha_modulo {
    cursor: pointer;
    padding: 15px;
}

/* Lista de opciones*/
.barra_lateral__lista_opciones {
    padding-left:0; /* Quita estilo de bootstrap */
    margin-bottom: 0; /* Quitar estilo de bootstrap */
}
/* Contenedor de la opción */
.barra_lateral__lista_opciones li {
    display: flex;
    height: auto;
    min-height: 45px;
    align-items: center;
    border-bottom: 1px solid var(--color-sidebar-option-border);
}
/* Enlace de la opción */
.barra_lateral__lista_opciones li a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
    padding: 10px 15px;
    gap: 5px;
}
/* ícono de la opción */
.barra_lateral__lista_opciones li a i {
    width: 25px;
}

.barra_lateral__boton_cerrar {
    display: none;
}



/* Clases dinámicas - Nav section*/
.scale_nav_options {
    height: auto;
    min-height: 45px;
}




/*-------------------*/
/* DISEÑO RESPONSIVO */
/*-------------------*/

/* Laptops pequeñas */
@media (max-width: 1400px) {
    .barra_lateral__modulo_nombre {
        padding: 0 20px;
    }
}


/* Tablets grandes - Laptops pequeñas */
@media (max-width: 1100px) {
    .barra_lateral {
        grid-area: none;
    }

    .barra_lateral__modulo_nombre {
        padding: 20px;
    }

    .barra_lateral__flecha_modulo {
        padding: 30px;
    }

    .barra_lateral__boton_cerrar {
        display: none;

    }

    .barra_lateral-activada {
        width: 90%;
    }

    .barra_lateral__boton_cerrar-activado {
        cursor: pointer;
        right: 20px;
        top: calc(var(--header-height) + 10px);
        position: fixed;
        display: flex;
        min-width: 30px;
        min-height: 30px;
        padding: 10px 15px;
        background-color: rgba(181, 181, 181, 0.109);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
}

/* Tablets pequeñas - Teléfonos grandes */
@media (max-width: 600px) {
    .barra_lateral-activada {
        width: 85%;
    }

    .barra_lateral__boton_cerrar-activado {
        right: 10px;
    }
}

/* Teléfonos grandes */
@media (max-width: 500px) {

}