#myTable_wrapper {
    width: 100%;
    color: var(--color-primary);
    font-size: var(--fs-normal);
    font-family: 'Roboto', sans-serif;
}

.tabla_1__nombre_usuario {
    margin-left: 10px;
    margin-right: 5px;
}

.tabla_1__caja_botones {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}