{# Plantilla base #}{% extends 'gestion_voluntarios/layouts/base.html' %}
{# Cargar assets #}{% load static %}
{# Título de la ventana #} {% block titulo_ventana %}Módulo{% endblock %}
{# Título de la página #} {% block titulo_pagina %}Título de la Página{% endblock %}

{% block contenido %}

<div class="container">

        <div class="header_modulo">
            <h1 class="titulo_secundario">Formulario de Rango Bomberil</h1>
            <a href="#" class="boton_secundario">
                <i class="fa-solid fa-arrow-left"></i>
                Volver al Listado
            </a>
        </div>

        <div class="panel_base">
            <div class="panel_base__contenido">
                
                <form class="formulario" action="#" method="POST">

                    <div class="formulario__campo">
                        <label for="nombre" class="formulario__label">
                            Nombre del Rango
                        </label>
                        <input type="text" id="nombre" class="input_base" 
                               placeholder="Ej: Aspirante, Voluntario Activo, Capitán">
                    </div>
                    
                    <div class="formulario__opciones">
                        <button type="submit" class="boton_primario">
                            <i class="fa-solid fa-save"></i>
                            Guardar Rango
                        </button>
                    </div>

                </form>
            </div>
        </div>

{% endblock  %}