{% load static %}

<nav id="barra_lateral" class="barra_lateral fondo_barra_lateral {% if request.session.is_impersonating %}barra_lateral_impersonacion{% endif %}">
    {# Botón para cerrar el menú en diseño móvil (una X) #}
    {% include 'layouts/boton_cerrar_sidebar.html' %}


    {# Sección: Dashboard #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo">
            <a href="{% url 'gestion_voluntarios:ruta_inicio' %}" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario hover_scale">
                <i class="fa-solid fa-house"></i>
                <span>Inicio</span>
            </a>
        </div>

    </section>

    {# Sección #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario scale">
                 {# Icono #}
                <i class="fa-solid fa-users"></i>
                <span>Voluntarios</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>
        {# Subsección #}
        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav"><a class="color_primario fs_nav_opcion" href="{% url 'gestion_voluntarios:ruta_lista_voluntarios' %}">Lista de Voluntarios</a></li>
        </ul>

    </section>

    {# Sección #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario scale">
                {# Icono #}
                <i class="fa-solid fa-gear"></i>
                <span>Profesiones y Rangos</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>
        {# Subsección #}
        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav"><a class="color_primario fs_nav_opcion" href="{% url 'gestion_voluntarios:ruta_cargos_lista' %}">Lista de Cargos y Profesiones</a></li>
        </ul>

    </section>

    {# Sección #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario scale">
                {# Icono #}
                <i class="fa-solid fa-file-import"></i>

                <span>Reportes</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>
        {# Subsección #}
        <ul class="barra_lateral__lista_opciones oculto">
            
            {# --- ENLACE ROTO ELIMINADO --- #}
            
            <li class="fondo_opcion_nav"><a class="color_primario fs_nav_opcion" href="{% url 'gestion_voluntarios:ruta_exportar_listado' %}">Exportar Listado</a></li>
        </ul>

    </section>
</nav>