{# PLANTILLA BASE PARA EL MÓDULO DE GESTIÓN DE INVENTARIO #}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# Importación de Estilos #}
    {% include 'layouts/estilos.html' %}
    {# Importación de Estilos de aplicación #}
    <link rel="stylesheet" href="{% static 'gestion_voluntarios/css/voluntarios_estilos.css' %}">

    {# Título de la ventana #}
    <title>{% block titulo_ventana %}{% endblock %}</title>

    {# Descripción #}
    <meta name="description" content="Sistema de inventario diseñado para la Segunda Compañía de Bomberos de Iquique">

</head>
<body class="{% if request.session.dark_mode|default:False %}dark-mode{% endif %}">
    {# Contenedor principal #}
    <div id="root">

        {# Header/Encabezado #}
        {% include "layouts/header.html" %}

        {# Menú desplegable con más opciones de cuenta/usuario. Por defecto está oculto #}
        {% include "layouts/menu_desplegable_usuario.html" %}
        
        {# Menú lateral de navegación #}
        {% include "gestion_voluntarios/layouts/barra_lateral.html" %}

        {# Contenido #}
        <main class="main fondo_main">
            <h1 class="main__titulo_pagina fs_grande color_primario">
            {% block titulo_pagina %}{% endblock  %}
            </h1>
            {% block contenido %} {% endblock %}
        </main>

        {# Importación de Scripts #}
        {% include 'layouts/scripts.html' %}

    </div>
</body>
</html>