/* Colores de fondo */
.fondo_primario {
    background-color: var(--color-primary);
}
.fondo_primario:hover {
    background-color: var(--color-primary-variant);
}


.fondo_secundario {
    background-color: var(--color-secondary);
}


.fondo_secundario_variante {
    background-color: var(--color-secondary-variant);
}


.fondo_header {
    background-color: var(--color-header);
}
.fondo_header_inventario {
    background-color: var(--color-header-inventario);
}
.fondo_header_mantenimiento {
    background-color: var(--color-header-mantenimiento);
}
.fondo_header_medico {
    background-color: var(--color-header-medico);
}
.fondo_header_usuarios {
    background-color: var(--color-header-usuarios);
}
.fondo_header_voluntarios {
    background-color: var(--color-header-voluntarios);
}


.fondo_barra_lateral {
    background-color: var(--color-sidebar);
}


.fondo_opcion_nav {
    background-color: var(--color-sidebar-option);
}
/*.fondo_opcion_nav:hover {
    background-color: var(--color-azul);
    color: var(--color-blanco);
}*/


.fondo_main {
    background-color: var(--color-main);
}


.fondo_menu_usuario {
    background-color: var(--color-user-menu);
}


.fondo_negro {
    background-color: var(--color-negro);
}


.fondo_transparente {
    background-color: transparent;
}
.fondo_transparente:hover {
    background-color: var(--color-blanco-transparente);
}


.fondo_blanco {
    background-color: var(--color-blanco);
}


.fondo_blanco_variante {
    background-color: var(--color-blanco-variante);
}


.fondo_blanco_blur {
    background-color: rgba(73, 73, 73, 0.3);
    backdrop-filter: blur(20px);
}


.fondo_gris {
    background-color: var(--color-gris-claro);
}
.fondo_gris_oscuro {
    background-color: var(--color-gris-oscuro);
}



.fondo_azul {
    background-color: var(--color-azul);
}


.fondo_morado {
    background-color: var(--color-morado);
}


.fondo_naranjo {
    background-color: var(--color-naranjo);
}


.fondo_verde {
    background-color: var(--color-verde);
}


.fondo_rojo {
    background-color: var(--color-rojo);
}



/* Colores de fuente */
.color_primario {
    color: var(--color-primary);
}


.color_primario_variante {
    color: var(--color-primary-variant);
}


.color_primario_muteado {
    color: var(--color-primary-muted);
}


.color_secundario {
    color: var(--color-secondary);
}


.color_transparente {
    color: transparent;
}


.color_gris {
    color: var(--color-gris);
}


.color_blanco {
    color: var(--color-blanco);
}


.color_azul {
    color: var(--color-azul);
}


.color_rojo {
    color: var(--color-rojo);
}


.color_verde {
    color: var(--color-verde);
}


.color_blanco {
    color: var(--color-blanco);
}


.color_blanco_variante {
    color: var(--color-blanco-variante);
}


.color_morado {
    color: var(--color-morado)
}

.color_naranjo {
    color: var(--color-naranjo);
}
.color_naranjo_claro {
    color: var(--color-naranjo-claro);
}

.color_negro {
    color: var(--color-negro);
}

.color_amarillo {
    color: var(--color-amarillo);
}