/* Cuerpo: Se usará para definir la cuadrícula principal */
#root {
    background-color: var(--color-base);
    display: grid;
    min-height: 100%;
    grid-template-columns: var(--navbar-width) auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "sidebar main"
    ;
}






/*-------------------*/
/* DISEÑO RESPONSIVO */
/*-------------------*/

/* Laptops pequeñas */
@media (max-width: 1400px) {

}


/* Tablets grandes - Laptops pequeñas */
@media (max-width: 1100px) {
    #root {
        grid-template-areas: 
        "header header header"
        "main main main"
        "main main main"
        ;
    }
}