:root {
    /* Tamaños de fuente de texto */
    --fs-small: 1.15rem;
    --fs-normal: 1.5rem;
    --fs-medium: 1.9rem;
    --fs-large: 2.3rem;
    --fs-x-large: 3.0rem;
    --fs-xx-large: 4.0rem;

    --fs-layout-icon: 3.0rem;
    --fs-header-title: 2.3rem;
    --fs-nav-section: 1.5rem;
    --fs-nav-option: 1.15rem;
    
    /* Colores */
    --color-primary: rgb(10, 10, 10);
    --color-primary-variant: rgb(78, 78, 78);
    --color-secondary: rgb(255, 255, 255);
    --color-secondary-variant: rgb(245, 245, 245);
    
    --color-header: rgb(255, 255, 255);
    --color-header-inventario: rgb(255, 255, 255);
    --color-header-mantenimiento: rgb(255, 255, 255);
    --color-header-medico: rgb(255, 255, 255);
    --color-header-usuarios: rgb(255, 255, 255);
    --color-header-voluntarios: rgb(255, 255, 255);
    --color-header-border: rgb(199, 199, 199);
    --color-user-menu:rgb(223, 223, 223);
    
    --color-sidebar: rgb(255, 255, 255);
    --color-sidebar-border: rgb(199, 199, 199);
    --color-sidebar-option: rgb(242, 242, 242);
    --color-sidebar-option-border: rgb(200, 200, 200);
    --color-main: rgb(230, 230, 230);
    
    
    --color-negro: rgb(17, 17, 17);
    --color-azul: rgb(47, 113, 255);
    --color-verde: rgb(59, 163, 59);
    --color-gris: rgb(94, 94, 94);
    --color-gris-claro: rgb(180, 180, 180);
    --color-naranjo: rgb(255, 144, 39);
    --color-naranjo-claro: rgb(255, 193, 134);
    --color-rojo: rgb(245, 60, 60);
    --color-blanco: rgb(255, 255, 255);
    --color-blanco-variante: rgb(245, 245, 245);
    --color-blanco-transparente: rgba(255, 255, 255, 0.11);
    --color-amarillo: rgb(251, 201, 0);
    --color-morado: rgb(156, 30, 154);
    
    
    /* Dimensiones para estandarización */
    --header-height: 80px;
    --user-avatar-width: 40px;
    --company-logo-width: 20px;
    
    --navbar-width: 325px;
    --navbar-section-height: 60px;
    
    --main-title-height:50px;
    
    --input-height: 50px;
    --card-border-radius: 50px;
    --footer-height: 100px;
    
    --portal-title: 100px;
    --portal-menu-height: 500px;
    --portal-menu-min-width: 400px;
    --portal-menu-width: 1200px;
    --portal-menu-max-width: 1600px;
    --portal-menu-opcions-width: 35%;
    --portal-menu-preview-width: 65%;
    --portal-menu-opcion-height: 50px;
    
    --laptop-width: 1000px;
    
    /* Z-index */
    --background-z-index: 0;
    --title-page-z-index: 2;
    --portal-menu-z-index: 1;
    --panel-z-index: 3;
    --navbar-z-index: 4;
    --header-z-index: 5;
    --dropdown-user-menu-z-index: 6;
    --flash-message-z-index: 200;
}






/*-------------------*/
/* DISEÑO RESPONSIVO */
/*-------------------*/

/* Laptops pequeñas */
@media (max-width: 1300px) {
    :root {
        /* Tamaños de fuente de texto */
        /*
        --fs-small: 1.2rem;
        --fs-normal: 1.4rem;
        --fs-medium: 1.8rem;
        --fs-large: 2.2rem;
        --fs-x-large: 2.9rem;
        --fs-xx-large: 3.9rem;
        */
        --fs-header-title: 2.0rem;
        --fs-nav-section: 1.3rem;
        
        /* Dimensiones para estandarización */
        --navbar-width: 250px;
    }
}

/* Tablets grandes - Laptops pequeñas */
@media (max-width: 1100px) {
    :root {
        /* Tamaños de fuente de texto */
        --fs-nav-section: 1.4rem;
        --fs-nav-option: 1.3rem;
        /* Dimensiones para estandarización */
        --navbar-width: 0;
    }
}

/* Tablets pequeñas - Teléfonos grandes */
@media (max-width: 600px) {
    :root {
        /* Tamaños de fuente de texto */
        --fs-header-title: 1.7rem;
        --fs-nav-section: 1.5rem;
        --fs-nav-option: 1.3rem;
        --fs-layout-icon: 2.4rem;
        /* Dimensiones para estandarización */
        --header-height: 65px;
    }
}

/* Teléfonos grandes */
@media (max-width: 500px) {
    :root {
        /* Tamaños de fuente de texto */
        --fs-header-title: 2.5rem;
        --fs-nav-section: 1.8rem;
        --fs-nav-option: 1.7rem;
        /* Dimensiones para estandarización */
        --header-height: 70px;
        --user-avatar-width: 35px;
    }
}

/* Teléfonos medianos - pequeños */
@media (max-width: 370px) {
    :root {
        /* Tamaños de fuente de texto */
        --fs-header-title: 2.0rem;
        --fs-nav-section: 1.4rem;
        --fs-nav-option: 1.3rem;
        /* Dimensiones para estandarización */
        --header-height: 60px;
        --user-avatar-width: 30px;
    }
}