<nav id="barra_lateral" class="barra_lateral fondo_barra_lateral">
    {# Botón para cerrar el menú en diseño móvil (una X) #}
    {% include 'layouts/boton_cerrar_sidebar.html' %}


    {# Sección #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario hover_scale">
                <i class="fa-solid fa-truck-ramp-box"></i> 
                <span>Artículos</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_catalogo_global' %}">
                    <i class="fas fa-globe me-2 color_azul"></i>
                    Catálogo Global
                </a>
            </li>
            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_catalogo_local' %}">
                    <i class="fa-solid fa-clipboard-list color_morado"></i>
                    Catálogo
                </a>
            </li>

            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_stock_actual' %}">
                    <i class="fas fa-boxes me-2 color_naranjo"></i>
                    Stock actual
                </a>
            </li>

            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_recepcion_stock' %}">
                    <i class="fa-solid fa-cart-flatbed color_verde"></i>
                    Recepción / Agregar Stock
                </a>
            </li>

            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_historial_movimientos' %}">
                    <i class="fa-solid fa-history color_amarillo"></i>
                    Historial de movimientos
                </a>
            </li>

            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_imprimir_etiquetas' %}">
                    <i class="fa-solid fa-qrcode"></i>
                    Imprimir etiquetas QR
                </a>
            </li>
        </ul>
    </section>


    {# Sección #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario hover_scale">
                <i class="fa-solid fa-truck"></i>
                <span>Préstamos</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_crear_prestamo' %}">
                    <i class="fa-solid fa-clipboard-list color_naranjo_claro"></i>
                    Crear préstamo
                </a>
            </li>
            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_historial_prestamos' %}">
                    <i class="fa-solid fa-clipboard-list color_naranjo_claro"></i>
                    Historial de préstamos
                </a>
            </li>
        </ul>
    </section>


    {# Sección #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario hover_scale">
                <i class="fa-solid fa-truck"></i>
                <span>Proveedores</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_lista_proveedores' %}">
                    <i class="fa-solid fa-clipboard-list color_naranjo_claro"></i>
                    Lista de proveedores
                </a>
            </li>
        </ul>
    </section>


    {# Sección: Gestión de Vehículos #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario hover_scale">
                <i class="fa-solid fa-truck-front"></i>
                <span>Unidades</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_lista_vehiculos' %}">
                    <i class="fa-solid fa-clipboard-list color_naranjo_claro"></i>
                    Lista de vehículos
                </a>
            </li>
        </ul>
    </section>
    

    {# Sección: Gestión de Almacenes / bodegas / espacios físicos #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario hover_scale">
                <i class="fa-solid fa-warehouse"></i>
                <span>Áreas</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_lista_areas' %}">
                    <i class="fa-solid fa-clipboard-list color_naranjo_claro"></i>
                    Lista de áreas
                </a>
            </li>

            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_crear_area' %}">
                    <i class="fa-solid fa-circle-plus color_verde"></i>
                    Crear área
                </a>
            </li>
        </ul>
    </section>


    {# Sección: Gestión de Compartimentos #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario hover_scale">
                <i class="fas fa-box me-2"></i>
                <span>Compartimentos</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_lista_compartimentos' %}">
                    <i class="fa-solid fa-clipboard-list color_naranjo_claro"></i>
                    Lista de compartimentos
                </a>
            </li>
        </ul>
    </section>
    

</nav>