<nav id="barra_lateral" class="barra_lateral fondo_barra_lateral">
    {# Botón para cerrar el menú en diseño móvil (una X) #}
    {% include 'layouts/boton_cerrar_sidebar.html' %}


    {# Sección #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario hover_scale">
                <i class="fa-solid fa-truck-ramp-box"></i> 
                <span>Existencias</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav"><a class="color_primario fs_nav_opcion" href="">Lista de insumos</a></li>
            <li class="fondo_opcion_nav"><a class="color_primario fs_nav_opcion" href="">Lista de insumos por lote</a></li>
            <li class="fondo_opcion_nav"><a class="color_primario fs_nav_opcion" href="">Insumos de baja</a></li>
            <li class="fondo_opcion_nav"><a class="color_primario fs_nav_opcion" href="">Agregar insumo</a></li>
            <li class="fondo_opcion_nav"><a class="color_primario fs_nav_opcion" href="">Agregar insumos por lote</a></li>
        </ul>
    </section>


    {# Sección: Gestión de catálogo de productos #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario hover_scale">
                <i class="fa-solid fa-book"></i>
                <span>Catálogo</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav"><a class="color_primario fs_nav_opcion" href="">Pendiente</a></li>
        </ul>
    </section>


    {# Sección: Gestión de Vehículos #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario hover_scale">
                <i class="fa-solid fa-truck-front"></i>
                <span>Unidades</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav"><a class="color_primario fs_nav_opcion" href="">Pendiente</a></li>
        </ul>
    </section>


    {# Sección: Gestión de Compartimentos #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario hover_scale">
                <i class="fa-solid fa-toilet-portable"></i>
                <span>Compartimentos</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav"><a class="color_primario fs_nav_opcion" href="">Pendiente</a></li>
        </ul>
    </section>


    {# Sección: Gestión de Almacenes / bodegas / espacios físicos #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_nav_seccion color_primario hover_scale">
                <i class="fa-solid fa-warehouse"></i>
                <span>Almacenes</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_lista_almacenes' %}">
                    <i class="fa-solid fa-clipboard-list color_naranjo_claro"></i>
                    Lista de almacenes
                </a>
            </li>

            <li class="fondo_opcion_nav hover_color">
                <a class="color_primario fs_nav_opcion" href="{% url 'gestion_inventario:ruta_crear_almacen' %}">
                    <i class="fa-solid fa-circle-plus color_verde"></i>
                    Crear almacén
                </a>
            </li>
        </ul>
    </section>






    
</nav>